  <footer class="main-footer">
    <div class="pull-right hidden-xs">
    </div>
    <div align="right"><strong>Copyright &copy;2016 <a href="http://wennova.com/" target="_blank">We-nnova</a>.</strong> Todos los derechos reservados.</div>
  </footer>