  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="img/avatar.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <a href="/profile" style="font-size: medium;">
            <%= user.fullname %>
          </a>
          <br>
          <a href="#"> <%= user.role %> </a>
        </div>
      </div>
            
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">NAVEGACION PRINCIPAL</li>

        <% if (user.role === "Administrador") { %>
        <li class="active"><a href="/users"><i class="fa fa-user"></i>Usuarios Administrativos</a></li>
        <% } %>
        
        <li class="active"><a href="/joineds"><i class="fa fa-users"></i>Afiliados</a></li>

        <li class="active"><a href="/events"><i class="fa fa-calendar"></i>Eventos Varios</a></li>

        <% if (user.role === "Administrador") { %>
          <li class="active"><a href="/sportEvents"><i class="fa fa-futbol-o"></i>Eventos Deportivos</a></li>
        <% } else if (user.role === "Presidente Municipal" || user.role === "Presidente Zonal") { %>
          <li class="active"><a href="/sportEventsInscriptions"><i class="fa fa-futbol-o"></i>Eventos Deportivos</a></li>
        <% } %>

        <li class="active"><a href="/teams"><i class="fa fa-users"></i>Equipos</a></li>

        <li class="active"><a href="/laborUnions"><i class="fa fa-graduation-cap"></i>Sindicato</a></li>

        <!--li class="active"><a href="#"><i class="fa fa-cogs"></i>Juntas</a></li-->

        <!--li class="active"><a href="#"><i class="fa fa-money"></i>Aportes</a></li-->

        <!--li class="active"><a href="/reports"><i class="fa fa-file-pdf-o"></i>Reportes</a></li-->
      
      </ul>
    </section>
  </aside>