<!DOCTYPE html>
<html>
<head>
  <% include ./partials/head.ejs %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

  <% include ./partials/nav-header.ejs %>

  <% include ./partials/left-column.ejs %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <section class="content-header">
      <h1 align="center"><b>Panel de Edicion de Afiliados</b></h1>      
    </section>


    <div class="row">
      <div class="col-md-6">
          <form action="#" method="get" class="">
              <div class="input-group margin">
                <input type="text" name="q" class="form-control" placeholder="Buscar afiliados">
                    <span class="input-group-btn">
                      <button type="submit" name="search" id="search-btn" class="btn btn-flat btn-warning"><i class="fa fa-search"></i>
                      </button>
                    </span>
              </div>
          </form>
      </div>
    </div>  
    <!-- Main content -->
    <section class="content">
    <div class="row">
      <div class="col-md-6">
         <div class="box box-warning">
          <div class="box-header with-border   label-warning" align="center">
            <h3 class="box-title"><b>INFORMACION PERSONAL</b></h3>          
          </div>

          <!-- /.box-header -->
          <div class="box-body">
            <div class="row">
              <div class="col-md-6">
                
                <div class="form-group">
                 <label for="idAffiliate">Nombres</label>
                 <input class="form-control" type="text" placeholder="Nombres Afiliado">
                </div>

                <div class="form-group">
                 <label for="firstNameAffiliate">Documento de Identidad</label>
                 <input class="form-control" type="text" placeholder="Numero de documento afiliado">
               </div>
     
                <div class="form-group">
                 <label>Fecha de nacimiento</label>
                 <div class="input-group date">
                   <div class="input-group-addon">
                     <i class="fa fa-calendar"></i>
                   </div>
                   <input type="text" class="form-control pull-right" id="datepicker" placeholder="dd/mm/aaaa">
                 </div>
               </div>
     
               <div class="form-group">
                 <label for="firstNameAffiliate">Dirección</label>
                 <input class="form-control" type="text" placeholder="Direccion Afiliado">
               </div> 
     
                <div class="form-group">
                 <label for="secondNameAffiliate">E-mail</label>
                 <input class="form-control" type="text" placeholder="Correo electronico afiliado  ">
               </div>

               <div class="form-group">
                 <label>RH</label>
                 <select class="form-control select2" style="width: 100%;">
                   <option selected="selected">O+</option>
                   <option>O-</option>
                   <option>A+</option>
                   <option>B+</option>                  
                   <option>B-</option>
                   <option>AB+</option>
                   <option>AB-</option>                  
                 </select>
               </div> 

              <!--  Conjunto de labels para que los paneles quedaran medio cuadrados -->
               <div><label for=""> </label></div>
               <div><label for=""> </label></div>
               <div><label for=""> </label></div>
               <div><label for=""> </label></div>
               <div><label for=""> </label></div>
               <div><label for=""> </label></div>
               <div><label for=""> </label></div>
              </div>
              <!-- /.col -->
              <div class="col-md-6">
                
                <!-- /.form-group -->
                <div class="form-group">
                 <label for="secondNameAffiliate">Apellidos</label>
                 <input class="form-control" type="text" placeholder="Apellidos Afiliado">
                </div>
     
                 <div class="form-group">
                     <label for="exampleInputFile">Anexo documento</label>
                     <input class="form-control label-warning" type="file" id="exampleInputFile">
                 </div>
     
                 <div class="form-group">
                   <label>Genero</label>
                   <select class="form-control select2" style="width: 100%;">
                     <option selected="selected">Femenino</option>
                     <option>Masculino</option>
                     <option>Otro</option>
                   </select>
                 </div>
     
                 <div class="form-group">
                   <label>Municipio</label>
                   <select class="form-control select2" style="width: 100%;">
                     <option selected="selected">Tunja</option>
                     <option>Paipa</option>
                     <option>Duitama</option>
                     <option>Sogamoso</option>                  
                   </select>
                 </div>   
     
                 <div class="form-group">
                   <label for="secondNameAffiliate">Celular</label>
                   <input class="form-control" type="text" placeholder="Numero de celular afiliado">
                 </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
        </div>
      </div>

        <div class="col-md-6">
        <div class="box box-warning">
          <div class="box-header with-border label-warning" align="center">
            <h3 class="box-title"><b>INFORMACION LABORAL</b></h3>          
          </div>

             <form role="form">
     
               <div class="box-body">
             <div class="row">
             <div class="col-md-6">
     
               <div class="form-group">
                 <label for="idAffiliate">Institucion Educativa</label>
                 <input class="form-control" type="text" placeholder="Nombres Afiliado">
               </div>
     
               <div class="form-group">
                 <label>Area de desempeno</label>
                 <select class="form-control select2" style="width: 100%;">
                   <option selected="selected">Tunja</option>
                   <option>Paipa</option>
                   <option disabled="disabled">Duitama (disabled)</option>
                   <option>Sogamoso</option>                  
                 </select>
               </div>
     
               <div class="form-group">
                 <label for="firstNameAffiliate">Universidad</label>
                 <input class="form-control" type="text" placeholder="Universidad">
               </div>
     
              <div class="form-group">
                 <label>Normalista</label>
                 <select class="form-control select2" style="width: 100%;">
                   <option selected="selected">Si</option>
                   <option>No</option>                  
                 </select>
               </div>
     
               <div class="form-group">
                 <label>Especialista</label>
                 <select class="form-control select2" style="width: 100%;">
                   <option selected="selected">Si</option>
                   <option>No</option>                  
                 </select>
               </div>
     
               <div class="form-group">
                 <label>Doctorado</label>
                 <select class="form-control select2" style="width: 100%;">
                   <option selected="selected">Si</option>
                   <option>No</option>                  
                 </select>
               </div>

               <div class="form-group">
                 <label>Tipo de Nombramiento</label>
                 <select class="form-control select2" style="width: 100%;">
                   <option selected="selected">Provisional</option>
                   <option>Propiedad</option>
                   <option>Administrativo</option>                  
                   <option>Nacional</option>
                   <option>Departamental</option>
                   <option>Nacionalizado</option>
                   <option>Municipal</option>
                 </select>
               </div>

               <div class="form-group">
                 <label>Docente Estado</label>
                 <select class="form-control select2" style="width: 100%;">
                   <option selected="selected">Activo</option>
                   <option>Activo Pensionado</option>
                   <option>Pensionado Retirado</option>                  
                 </select>
               </div>

     
               </div>
             
             <div class="col-md-6">
     
              <div class="form-group">
                 <label>Municipio</label>
                 <select class="form-control select2" style="width: 100%;">
                   <option selected="selected">Tunja</option>
                   <option>Paipa</option>
                   <option disabled="disabled">Duitama (disabled)</option>
                   <option>Sogamoso</option>                  
                 </select>
               </div>
     
               <div class="form-group">
                 <label for="secondNameAffiliate">Titulo</label>
                 <input class="form-control" type="text" placeholder="Titulo">
               </div>
     
               <div class="form-group">
                 <label>Profesional</label>
                 <select class="form-control select2" style="width: 100%;">
                   <option selected="selected">Si</option>
                   <option>No</option>                  
                 </select>
               </div>
     
               <div class="form-group">
                 <label>Maestria</label>
                 <select class="form-control select2" style="width: 100%;">
                   <option selected="selected">Si</option>
                   <option>No</option>                  
                 </select>
               </div>
     
               <div class="form-group">
                 <label for="secondNameAffiliate">Grado escalafón</label>
                 <input class="form-control" type="text" placeholder="Grado escalafon">
               </div>

               <div class="form-group">
                 <label>Docente</label>
                 <select class="form-control select2" style="width: 100%;">
                   <option selected="selected">1278</option>
                   <option>2277</option>                  
                 </select>
               </div>

               <div class="form-group">
                 <label>Nivel</label>
                 <select class="form-control select2" style="width: 100%;">
                   <option selected="selected">Preescolar</option>
                   <option>Primaria</option>
                   <option>Básica</option>
                   <option>Media</option>
                 </select>
               </div>             

               
             </div>
           </div> 
         </div>
         </form>
         </div>
         </div>
    </div>
    </section>

<section class="content">
      <div class="box box-warning">
        <div class="box-header with-border label-warning" align="center">
          <h3 class="box-title"><b>INFORMACION SINDICAL</b></h3>          
        </div>

          <form role="form">
           <div class="box-body">
              <div class="row">
                <div class="col-md-6">

                    <div class="form-group">
                       <label>Municipio</label>
                       <select class="form-control select2" style="width: 100%;">
                         <option selected="selected">Tunja</option>
                         <option>Paipa</option>
                         <option disabled="disabled">Duitama (disabled)</option>
                         <option>Sogamoso</option>                  
                       </select>
                    </div>
           
                    <div class="form-group">
                       <label>Tipo de pago de afiliación</label>
                       <select class="form-control select2" style="width: 100%;">
                         <option selected="selected">Nómina</option>
                         <option>Ventanilla</option>
                       </select>
                    </div>
              
                    <div class="form-group">
                       <label>Integra Comisión</label>
                       <select class="form-control select2" style="width: 100%;">
                         <option selected="selected">Electoral</option>
                         <option>Financiera</option>                  
                         <option>Ética</option>
                         <option>De la Mujer</option>
                         <option>Pedagógica</option>
                       </select>
                     </div>
                </div>
               
               <div class="col-md-6">
       
                <div class="form-group">
                   <label>Zona</label>
                   <select class="form-control select2" style="width: 100%;">
                     <option selected="selected">Zona 1</option>
                     <option>Zona 2</option>
                   </select>
                </div>
          
                <div class="form-group">
                   <label>Integra Comité</label>
                   <select class="form-control select2" style="width: 100%;">
                     <option selected="selected">Ninguno</option>
                     <option>Comité Municipal</option>
                     <option>Comité Zonal</option>                  
                     <option>Junta Directiva</option>
                   </select>
                </div>
       
                <div class="form-group">
                   <label>Delegado a la Asamblea General</label>
                   <select class="form-control select2" style="width: 100%;">
                     <option selected="selected">Si</option>
                     <option>No</option>                 
                     <option>Por el Municipio</option>
                   </select>
                </div>            
               </div>
              </div> 
           </div>
          </form>
      </div>

       <div class="row">
        <div class="col-md-6">
         <a type="button" href="afiliados.html" class="btn btn-block btn-warning">Cancelar</a>
         </div>
         <div class="col-md-6">
         <a type="button" class="btn btn-block btn-warning">Guardar Afiliado</a>
         </div> 
       </div>
</section>
</div>

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
    </div>
    <div align="right"><strong>Copyright &copy;2016 <a href="http://wennova.com/">We-nnova</a>.</strong> All rights
    reserved.</div>
  </footer>  
</div>
       
  <!-- =============================================== -->
  

  
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="../bootstrap/js/bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="../plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="../plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="../dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../dist/js/demo.js"></script>
</body>
</html>
