<!DOCTYPE html>
<html>
  <head>
    <title>Reportes | Sindimaestros</title>
    
    <% include ./partials/head.ejs %>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
      <% include ./partials/nav-header.ejs %>
      <% include ./partials/left-column.ejs %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>Generar Reportes</h1>
          <div id="form-add-user" class="col-md-12" >
            <table>
              <tr>
                <td class="col-md-2">
                  <h5>Municipo de trabajo:</h5>
                </td>
                <td class="col-md-5">
                  <label for="bio">Zona</label>
                  <select class="selectpicker form-control" data-live-search="true" type="brand" title="Seleccione..." id="zone_list" name="zone" required="true">
                  </select>
                </td>
                <td class="col-md-5">
                  <label for="bio">Municipio de trabajo </label>
                  <select class="selectpicker form-control" data-live-search="true" type="brand" title="Seleccione..." id="municipality_list" name="municipality" required="true">
                  </select>
                </td>
              </tr>
              <tr>
                <td class="col-md-2">
                  <h5>Genero:</h5>
                </td>
                <td class="col-md-4">
                  <label for="bio">Zona</label>
                  <select class="selectpicker form-control" data-live-search="true" type="brand" title="Seleccione..." id="zone_list1" name="zone1" required="true">
                  </select>
                </td>
                <td class="col-md-4">
                  <label for="bio">Municipio de trabajo </label>
                  <select class="selectpicker form-control" data-live-search="true" type="brand" title="Seleccione..." id="municipality_list1" name="municipality1" required="true">
                  </select>
                </td>
                <td>
                  <label for="bio">Género:</label><br>
                  <select class="selectpicker form-control" data-live-search="true" title="Seleccione..." type="brand" name="gender" id="gender">
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                    <option value="Otro">Otro</option>
                    <option value="Ninguno" selected>Ninguno</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td class="col-md-2">
                  <h5>Decreto:</h5>
                </td>
                <td class="col-md-5">
                  <label for="bio">Zona</label>
                  <select class="selectpicker form-control" data-live-search="true" type="brand" title="Seleccione..." id="zone_list2" name="zone2" required="true">
                  </select>
                </td>
                <td class="col-md-5">
                  <label for="bio">Municipio de trabajo </label>
                  <select class="selectpicker form-control" data-live-search="true" type="brand" title="Seleccione..." id="municipality_list2" name="municipality2" required="true">
                  </select>
                </td>
                <td>
                  <label for="bio">Decreto:</label><br>
                  <select class="selectpicker form-control" data-live-search="true" title="Seleccione..." type="brand" name="Teaching" id="sel_Teaching">
                    <option value="1278">1278</option>
                    <option value="2277">2277</option>
                    <option value="Ninguno" selected>Ninguno</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td class="col-md-2">
                  <h5>Típo de pago:</h5>
                </td>
                <td class="col-md-5">
                  <label for="bio">Zona</label>
                  <select class="selectpicker form-control" data-live-search="true" type="brand" title="Seleccione..." id="zone_list3" name="zone3" required="true">
                  </select>
                </td>
                <td class="col-md-5">
                  <label for="bio">Municipio de trabajo </label>
                  <select class="selectpicker form-control" data-live-search="true" type="brand" title="Seleccione..." id="municipality_list3" name="municipality3" required="true">
                  </select>
                </td>
                <td>
                  <label for="bio">Típo de pago:</label><br>
                  <select class="selectpicker form-control" data-live-search="true" title="Seleccione..." type="brand" name="affiliationPaymentType" id="affiliationPaymentType">
                    <option value="Nomina">Nómina</option>
                    <option value="Ventanilla">Ventanilla</option>
                    <option value="Ninguno" selected>Ninguno</option>
                  </select>
                </td>
              </tr>
            </table>
          </div>
        </section>
      </div>
      <% include ./partials/footer.ejs %>
    </div>
    <!-- ./wrapper -->
    <% include ./partials/footer-scripts.ejs %>
      <!-- Script main-->
    <script src="js/mainReports.js" type="text/javascript" charset="utf-8" ></script>
  </body>
</html>

