<!DOCTYPE html>
<html>
  <head>
    <title>Reportes | Sindimaestros</title>
    
    <% include ./partials/head.ejs %>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
      <% include ./partials/nav-header.ejs %>
      <% include ./partials/left-column.ejs %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>Generar Reportes</h1>
        </section>
        <section>
          <form class="form-user" id="formUser" action="new-user" method="POST" >
              <div id="form-add-user" class="col-md-12" >
                <section class="col-md-2">
                  <div class="form-group">
                    <br>
                    <h5>
                      Municipo de trabajo:
                    </h5>
                  </div>
                </section>
                <section class="col-md-5">
                  <div class="form-group">
                    <label for="bio">Zona</label><br>
                    <select class="selectpicker form-control" data-live-search="true" type="brand" title="Seleccione..." id="zone_list" name="zone" required="true">
                    <!--json-->
                    </select>
                  </div>
                </section>
                <section class="col-md-5">
                  <div class="form-group">
                    <label for="bio">Municipio de trabajo </label><br>
                    <select class="selectpicker form-control" data-live-search="true" type="brand" title="Seleccione..." id="municipality_list" name="municipality" required="true">
                    <!--json-->
                    </select>
                  </div>
                </section>                
              </div>
            </form>
        </section>
      </div>
      <% include ./partials/footer.ejs %>
    </div>
    <!-- ./wrapper -->
    <% include ./partials/footer-scripts.ejs %>
      <!-- Script main-->
    <script src="js/mainReports.js" type="text/javascript" charset="utf-8" ></script>
  </body>
</html>

