<!DOCTYPE html>
<html>
<head>
  <% include ./partials/head.ejs %>
</head>
<body class="hold-transition register-page">
<div class="register-box">
  <div class="register-logo">
    <a href="/"><b>Sindimaestros</b></a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Registro de usuario</p>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <form action="/signup" method="post">
      
      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="Nombres" name="name">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="Apellidos" name="lastName">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="email" class="form-control" placeholder="Email" name="email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Contraseña" name="password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <label>Inscrito </label>
      <select name="joined">
        <option value="Si">Si</option>
        <option value="No">No</option>
      </select>
      <br>
      <label>Rol </label>
      <select name="role">
        <option value="Administrador">Administrador</option>
        <option value="Presidente">Presidente</option>
        <option value="Fiscal">Fiscal</option>
        <option value="Tesorero">Tesorero</option>
      </select>

      <br><br>

      <div class="row">        
        <div class="col-xs-12">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Registrarse</button>
        </div>
      </div>

    </form>

    <!--div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign up using
        Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign up using
        Google+</a>
    </div-->

    <br>

    <p>¿Ya tiene una cuenta? <a href="/login">Iniciar sesión</a></p>
    <p><a href="/">Ir al inicio</a></p>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->

<!-- jQuery 2.2.3 -->
<script src="../../plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="../../bootstrap/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="../../plugins/iCheck/icheck.min.js"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });
</script>
</body>
</html>
